<div class="user-details">
  <h1> PROJECTS </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/linkedin.png" | prepend: site.baseurl }}" width="425" height="284" />
  </div>
  <div class="contents">
    <h3> Linkedin Jobs Scraping </h3>
    <ul>
      <li> Python, Selenium, BeatifulSoup, Python-Docx, RegEx, Flashtext </li>
    </ul>
    <p>Automated scraping of jobs postings on likedin, jobs descriptions analysis, and automated generation of resumes based on skills required by each job. </p>
    <a class="project-link" target="_blank" href="https://github.com/Soufiane-Fartit/AutoLinkedin">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/anomaly.png" | prepend: site.baseurl }}" width="425" height="284" />
  </div>
  <div class="contents-right">
    <h3> Autoencoders For Anomaly Detection </h3>
    <ul>
      <li> Python, Keras, PyTorch, SKlearn, Numpy, Pandas, Scipy, Matplotlib, NILMTK</li>
    </ul>
    <p> Analysis of the electricity consumption of the different household appliances of elderly people and detect the abnormal behaviors to predict early symptoms of Alzheimer and dementia.</p>
    <a class="project-link" target="_blank" href="https://drive.google.com/file/d/1_spHRH8ywvpF3aG54pgcW7JV7SBIqkvW/view">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/water_body.jpg" | prepend: site.baseurl }}" width="425" height="284" />
  </div>
  <div class="contents">
    <h3> Water Bodies Segmentation </h3>
    <ul>
      <li> Python, OpenCV, Keras </li>
    </ul>
    <p> Segmentation of water bodies in images captured by the Sentinel-2 Satellite. </p>
    <a class="project-link" href="https://github.com/Soufiane-Fartit/Water-Bodies-segmentation">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/clairvoyance.jpg" | prepend: site.baseurl }}" width="425" height="284" />
  </div>
  <div class="contents-right">
    <h3> Machine Learning Web Application </h3>
    <ul>
      <li> Python, Streamlit, Xgboost, SKlearn, Imbalanced-Learn, Numpy, Pandas, Scipy, Matplotlib, Seaborn, Altair </li>
    </ul>
    <p> A web application for loading, cleaning, exploring, and modeling data. Equiped with multiple classification and regression algorithms and data transformations. In addition to SMOTE, stacking, and cross-validation </p>
    <a class="project-link" target="_blank" href="https://clairvoyance-classification.herokuapp.com/">Check it out</a>
  </div>
</div>