 <div class="user-details">
  <h1> Skills </h1>
  <p> My language of choice is Python. I use it to solve complex problems and model data. &#10;&#13;Here are the rest of the tools and frameworks that I use.</p>
</div>
  <div class="user">
    <div class="tech">
      <h3>Machine Learning</h3>
      <span class="iconify" data-icon="cib:tensorflow" data-inline="false" data-width="30" data-height="30"></span>
      <span class="iconify" data-icon="simple-icons:scikit-learn" data-inline="false" data-width="30" data-height="30"></span>
      <span class="iconify" data-icon="simple-icons:keras" data-inline="false" data-width="30" data-height="30"></span>
      <span class="iconify" data-icon="simple-icons:pandas" data-inline="false" data-width="30" data-height="30"></span>
      <span class="iconify" data-icon="simple-icons:opencv" data-inline="false" data-width="30" data-height="30"></span>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h3>Big Data</h3>
      <span class="iconify" data-icon="grommet-icons:hadoop" data-inline="false" data-width="30" data-height="30"></span>
      <span class="iconify" data-icon="cib:apache-spark" data-inline="false" data-width="30" data-height="30"></span>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h3>Code</h3>
      <i class="devicon-python-plain-wordmark" data-width="30" data-height="30"></i>
      <i class="devicon-matlab-plain" data-width="30" data-height="30"></i>
      <span class="iconify" data-icon="file-icons:sas" data-inline="false" data-width="30" data-height="30"></span>
      <i class="devicon-cplusplus-plain-wordmark" data-width="30" data-height="30"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h3>Databases</h3>
      <i class="devicon-mysql-plain-wordmark" data-width="30" data-height="30"></i>
      <i class="devicon-mongodb-plain-wordmark" data-width="30" data-height="30"></i>
      <span class="iconify" data-icon="file-icons:neo4j" data-inline="false" data-width="30" data-height="30"></span>
      <i class="devicon-redis-plain-wordmark" data-width="30" data-height="30"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h3>Tools</h3>
      <i class="devicon-git-plain" data-width="30" data-height="30"></i>
      <i class="devicon-amazonwebservices-plain-wordmark" data-width="30" data-height="30"></i>
      <i class="devicon-docker-plain-wordmark" data-width="30" data-height="30"></i>
      <span class="iconify" data-icon="file-icons:dvc" data-inline="false" data-width="30" data-height="30"></span>
      <span class="iconify" data-icon="cib:flask" data-inline="false" data-width="30" data-height="30"></span>
      <span class="iconify" data-icon="cib:tableau" data-inline="false" data-width="30" data-height="30"></span>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
