 <div class="user-details">
  <h1> SKILLS </h1>
  <p style="margin-bottom:50px"> My language of choice is Python. I use it to solve complex problems and model data. &#10;&#13;Here are the rest of the tools and frameworks that I use.</p>
</div>
  <div class="user" style="margin-bottom: 10%;">

    <div class="tech" style="box-sizing: border-box;width: 100%">

      <h3 style="height:30px;font-size:16px"> Programming Languages </h3>

      <div class="icons-group" style="height:160px;line-height: 62px;">
        <span class="iconify" data-icon="carbon:logo-python" data-inline="false" data-width="42" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="file-icons:matlab" data-inline="false" data-width="42" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="file-icons:sas" data-inline="false" data-width="42" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="bx:bxl-c-plus-plus" data-inline="false" data-width="42" data-height="31" style="margin-top:0;margin-bottom:0"></span>
      </div>
      
      <p style="font-size:12px"> Compiled and scripted languages. For development, statistics, and predictive modeling. </p>

    </div>



    <div class="tech" style="box-sizing: border-box;width: 100%">

      <h3 style="height:30px;font-size:16px"> Databases </h3>

      <div class="icons-group" style="height:160px;line-height: 62px;">
        <span class="iconify" data-icon="cib:mysql" data-inline="false" data-width="42" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="cib:mongodb" data-inline="false" data-width="42" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="file-icons:neo4j" data-inline="false" data-width="42" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="cib:redis" data-inline="false" data-width="42" data-height="31" style="margin-top:0;margin-bottom:0"></span>
      </div>

      <p style="font-size:12px"> Both SQL and NoSQL databases. To work with structured, document, key-value, and graph data.  </p>

    </div>



    <div class="tech" style="box-sizing: border-box;width: 100%">

      <h3 style="height:30px;font-size:16px"> Machine Learning </h3>

      <div class="icons-group" style="height:160px;line-height: 62px;">
        <span class="iconify" data-icon="cib:tensorflow" data-inline="false" data-width="32" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="simple-icons:scikit-learn" data-inline="false" data-width="32" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="simple-icons:keras" data-inline="false" data-width="32" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="simple-icons:pandas" data-inline="false" data-width="32" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="simple-icons:opencv" data-inline="false" data-width="32" data-height="31" style="margin-top:0;margin-bottom:0"></span>
      </div>

      <p style="font-size:12px"> The core python packages. For cleaning and preprocessing data and creating predictive models. </p>

    </div>



    <div class="tech" style="min-width: 17%; align-content:center">

      <h3 style="height:30px;font-size:16px"> Big Data </h3>

      <div class="icons-group" style="height:160px;line-height: 62px;">
        <span class="iconify" data-icon="grommet-icons:hadoop" data-inline="false" data-width="32" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="cib:apache-spark" data-inline="false" data-width="32" data-height="31" style="margin-top:0;margin-bottom:0"></span>
      </div>

      <p style="font-size:12px"> When Dealing with very large datasets. Hadoop and Spark are the standards of the industry to store and process data. </p>

    </div>



    <div class="tech" style="box-sizing: border-box;width: 100%">

      <h3 style="height:30px;font-size:16px"> Other Tools </h3>

      <div class="icons-group" style="height:160px;line-height: 62px;">
        <span class="iconify" data-icon="fe:git" data-inline="false" data-width="32" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="fa-brands:aws" data-inline="false" data-width="32" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="grommet-icons:docker" data-inline="false" data-width="32" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="file-icons:dvc" data-inline="false" data-width="32" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="cib:flask" data-inline="false" data-width="32" data-height="31" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="cib:tableau" data-inline="false" data-width="32" data-height="31" style="margin-top:0;margin-bottom:0"></span>
      </div>

      <p style="font-size:12px"> Other tools for automating deployments, versioning, visualizing data, and working in the cloud. </p>

    </div>

    
  </div>
</div>
