<div class='domain_skills'>

  <div class="domain_skills_cell" style="box-sizing: border-box;width: 100%">
    Development
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>

  <div class="domain_skills_cell" style="box-sizing: border-box;width: 100%">
    Analytics
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>

  <div class="domain_skills_cell" style="box-sizing: border-box;width: 100%">
    Image processing
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>

  <div class="domain_skills_cell" style="box-sizing: border-box;width: 100%">
    Computer vision
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>

  <div class="domain_skills_cell" style="box-sizing: border-box;width: 100%">
    Natural Language Processing
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>

  <div class="domain_skills_cell" style="box-sizing: border-box;width: 100%">
    Cloud
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>

</div>