 <div class="user-details">
  <h1> Skills </h1>
  <p> My language of choice is Python. I use it to solve complex problems and model data. &#10;&#13;Here are the rest of the tools and frameworks that I use.</p>
</div>
  <div class="user">

    <div class="tech">

      <h3 style="height:30px"> Machine Learning </h3>

      <div class="icons-group" style="height:160px;line-height: 62px;">
        <span class="iconify" data-icon="cib:tensorflow" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="simple-icons:scikit-learn" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="simple-icons:keras" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="simple-icons:pandas" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="simple-icons:opencv" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
      </div>

      <p> The core packages for solving machine learning problems. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.</p>

    </div>



    <div class="tech">

      <h3 style="height:30px"> Big Data </h3>

      <div class="icons-group" style="height:160px;line-height: 62px;">
        <span class="iconify" data-icon="grommet-icons:hadoop" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="cib:apache-spark" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
      </div>

      <p> When Dealing with very large data.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. </p>

    </div>



    <div class="tech">

      <h3 style="height:30px"> Programming Languages </h3>

      <div class="icons-group" style="height:160px;line-height: 62px;">
        <span class="iconify" data-icon="carbon:logo-python" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="file-icons:matlab" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="file-icons:sas" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="bx:bxl-c-plus-plus" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
      </div>
      
      <p> Statistical scripted languages and object oriented languages.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. </p>

    </div>



    <div class="tech">

      <h3 style="height:30px"> Databases </h3>

      <div class="icons-group" style="height:160px;line-height: 62px;">
        <span class="iconify" data-icon="cib:mysql" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="cib:mongodb" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="file-icons:neo4j" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="cib:redis" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
      </div>

      <p> SQL and NoSQL databases to work with structured, document, key-value, and graph data.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. </p>

    </div>



    <div class="tech">

      <h3 style="height:30px"> Other Tools </h3>

      <div class="icons-group" style="height:160px;line-height: 62px;">
        <span class="iconify" data-icon="fe:git" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="fa-brands:aws" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="grommet-icons:docker" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="file-icons:dvc" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="cib:flask" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
        <span class="iconify" data-icon="cib:tableau" data-inline="false" data-width="30" data-height="30" style="margin-top:0;margin-bottom:0"></span>
      </div>

      <p> Other tools for versioning, deploying, visualizing data, and working in the cloud. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.</p>

    </div>
    
</div>
