
<div class="user-details">
  <h1> EXPERTISE </h1>
  <p style="margin-bottom:50px"> 
    Throughout years of education, I have acquired both academic knowledge and hands on experience in the following fields.
  </p>

</div>
<!--
<div class='domain_skills'>

  <div class="domain_skills_cell" style="box-sizing: border-box;width: 100%;background-color:rgb(153, 206, 255);">
    <span class="iconify" data-icon="fa-brands:dev" data-inline="false" data-width="142" data-height="141"></span>
    <h3 style="height:30px;font-size:16px"> Development </h3>
    <p style="font-size:12px"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>

  <div class="domain_skills_cell" style="box-sizing: border-box;width: 100%;background-color:rgb(153, 206, 255);">
    <span class="iconify" data-icon="carbon:analytics" data-inline="false" data-width="142" data-height="141"></span>
    <h3 style="height:30px;font-size:16px"> Analytics </h3>
    <p style="font-size:12px"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>

  <div class="domain_skills_cell" style="box-sizing: border-box;width: 100%;background-color:rgb(153, 206, 255);">
    <span class="iconify" data-icon="akar-icons:image" data-inline="false" data-width="142" data-height="141"></span>
    <h3 style="height:30px;font-size:16px"> Image processing </h3>
    <p style="font-size:12px"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>

  <div class="domain_skills_cell" style="box-sizing: border-box;width: 100%;background-color:rgb(153, 206, 255);">
    <span class="iconify" data-icon="bx:bx-low-vision" data-inline="false" data-width="142" data-height="141"></span>
    <h3 style="height:30px;font-size:16px"> Computer vision </h3>
    <p style="font-size:12px"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>

  <div class="domain_skills_cell" style="box-sizing: border-box;width: 100%;background-color:rgb(153, 206, 255);">
    <span class="iconify" data-icon="fluent:local-language-20-regular" data-inline="false" data-width="142" data-height="141"></span>
    <h3 style="height:30px;font-size:16px"> Natural Language Processing </h3>
    <p style="font-size:12px"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>

  <div class="domain_skills_cell" style="box-sizing: border-box;width: 100%;background-color:rgb(153, 206, 255);">
    <span class="iconify" data-icon="bi:cloud-arrow-up-fill" data-inline="false" data-width="142" data-height="141"></span>
    <h3 style="height:30px;font-size:16px"> Cloud </h3>
    <p style="font-size:12px"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>

</div>
-->

<div class="container center">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="jquery.horizonScroll.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
  <div class="horizon-prev"><img src="/src/img/l-arrow.png"></div>
  <div class="horizon-next"><img src="/src/img/r-arrow.png"></div>
  
  <section data-role="section" id="section-section1"></section><div class="card" style="margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%;align-items:center;">
    <span class="iconify" data-icon="fa-brands:dev" data-inline="false" data-width="142" data-height="141"></span>
    <h2 style="text-align: center;"> Development </h2>
    <hr/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
  </div></section>


  <section data-role="section" id="section-section2"></section><div class="card" style="margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%;align-items:center;">
    <span class="iconify" data-icon="carbon:analytics" data-inline="false" data-width="142" data-height="141"></span>
    <h2 style="text-align: center;"> Analytics </h2>
    <hr/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
  </div></section>


  <section data-role="section" id="section-section3"></section><div class="card" style="margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%;align-items:center;">
    <span class="iconify" data-icon="akar-icons:image" data-inline="false" data-width="142" data-height="141"></span>
    <h2 style="text-align: center;"> Image processing </h2>
    <hr/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
  </div></section>


  <section data-role="section" id="section-section4"></section><div class="card" style="margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%;align-items:center;">
    <span class="iconify" data-icon="bx:bx-low-vision" data-inline="false" data-width="142" data-height="141"></span>
    <h2 style="text-align: center;"> Computer vision </h2>
    <hr/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
  </div></section>


  <section data-role="section" id="section-section5"></section><div class="card" style="margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%;align-items:center;">
    <span class="iconify" data-icon="fluent:local-language-20-regular" data-inline="false" data-width="142" data-height="141"></span>
    <h2 style="text-align: center;"> Natural Language Processing </h2>
    <hr/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
  </div></section>


  <section data-role="section" id="section-section6"></section><div class="card" style="margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%;align-items:center;">
    <span class="iconify" data-icon="bi:cloud-arrow-up-fill" data-inline="false" data-width="142" data-height="141"></span>
    <h2 style="text-align: center;"> Cloud </h2>
    <hr/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
  </div></section>

  <script type="text/javascript">
    $('section').horizon();
  </script>

</div>